<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Setlib Input</title>

  <style>/*STYLE*/</style>
</head>
<body>

  <h1>Setlib Question Input</h1>

  <form id="questionForm" onsubmit="return false;">

    <fieldset>
      <legend>Author</legend>
      <label for="username">Username:</label>
      <input type="text" id="username" name="username">
    </fieldset>

    <fieldset>
      <legend>Type</legend>
      <input type="radio" id="mult" name="type" value="mult-choice">
      <label for="mult">Multiple Choice</label><br>

      <input type="radio" id="short" name="type" value="short-answer">
      <label for="short">Short Answer</label><br>

      <input type="radio" id="long" name="type" value="long-answer">
      <label for="long">Long Answer</label>
    </fieldset>

    <fieldset>
      <legend>Section</legend>
      <input type="radio" id="data" name="section" value="data">
      <label for="data">Data Structure</label><br>

      <input type="radio" id="alg" name="section" value="alg">
      <label for="alg">Algorithms</label><br>

      <input type="radio" id="discrete" name="section" value="discrete">
      <label for="discrete">Discrete Math</label>
    </fieldset>

    <fieldset>
      <legend>Subject</legend>
	  <div id="subjectOptions"></div>
    </fieldset>

    <fieldset>
      <legend>Difficulty</legend>
      <input type="radio" id="easy" name="difficulty" value="easy">
      <label for="easy">Easy</label><br>

      <input type="radio" id="medium" name="difficulty" value="medium">
      <label for="medium">Medium</label><br>

      <input type="radio" id="hard" name="difficulty" value="hard">
      <label for="hard">Hard</label>
    </fieldset>

    <fieldset>
      <legend>Question Text</legend>
      <label for="problem">LaTeX Problem:</label><br>
      <textarea id="problem" name="problem" rows="10" cols="50"></textarea><br>

      <button type="button" onclick="previewPost()">Preview</button><br>
      <img id="previewImage" alt="Preview Image">
    </fieldset>

    <p><button type="button" onclick="submitPost()">Submit</button></p>

  </form>

  <script>/*SCRIPT*/</script>

</body>
</html>
