<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Setlib Input</title>

  <!--STYLES-->

</head>
<body>

  <h1>Setlib Question Input</h1>

  <form id="questionForm" method="POST">

    <hr>
    <h3>Section</h3>
    <input type="radio" id="data" name="section" value="data">
    <label for="data">Data Structure</label><br>
    <input type="radio" id="alg" name="section" value="alg">
    <label for="alg">Algorithms</label><br>
    <input type="radio" id="discrete" name="section" value="discrete">
    <label for="discrete">Discrete Math</label>

    <hr>
    <h3>Difficulty</h3>
    <input type="radio" id="easy" name="difficulty" value="easy">
    <label for="easy">EASY</label><br>
    <input type="radio" id="medium" name="difficulty" value="medium">
    <label for="medium">MEDIUM</label><br>
    <input type="radio" id="hard" name="difficulty" value="hard">
    <label for="hard">HARD</label><br>

    <hr>
    <h3>Question Text</h3>
    <button type="button" onclick="previewPost()">Preview</button>
    <br>
    <label for="problem">Latex Problem:</label><br>
    <textarea id="problem" name="problem" rows="10" cols="50"></textarea>
    <img id="previewImage" style="display:none; max-width:100%; margin-top:20px;" alt="Preview Image" />

    <hr>
    <button type="button" onclick="submitPost()">Submit</button>

  </form>

  <!--SCRIPT-->

</body>
</html>
